body {
  background-color: brown;
}


h1 {
	text-align: center-left;
  background-color: green;
}

h2 {
	text-align: center-left;
  background-color: violet;
}

h3 {
	text-align: left;
  background-color: purple;
}


ul {
  background-color: red;
}

table {
	text-align: center;
  background-color: lightgreen;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


nav, nav > ul {
  background-color: lightblue;
}

p {
	text-align: left;
  background-color: yellow;
}

a {
	text-align:center;
  background-color: orange;
}

:active {
	
}

footer {
	text-decoration: transparent;
  background-color: white;
}
